<!--<h2>Reset Password</h2>-->
<!--<h3>Enter your new password</h3>-->
<!--<form class="form" action="" method="POST" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>-->
<!--</form>-->


{% load static %}
<style>
    .w-100{
    margintop:50px;
    }
</style>
<div class="login-page" style="background:linear-gradient(#1d4934,  #b9b9b9);height:100vh;">
    <center>
        <div class="w-100" style="padding-bottom:10px;padding-top:5px">
        <div class="container">
            <div>
            <img src="{{ MEDIA_URL }}/media/logo/log.png" width='200' height='100' alt="Logo" />
            </div>
      <div>
        <h2 style="color:white">Graphics Language System</h2>
      </div>
      </div>

        </div>
        <div class="rest-form" style="background:white;width:25rem;border-radius: 30px;height:23rem;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
        <form method="post">
            {% csrf_token %}
            <h3 >Reset Password</h3>
<!--           {{ form.as_p }}-->
             <div class="password">
            <label for="id_new_password1">Enter New Password</label><br></br>
            <input style="border-radius: 5px;width:15rem;height:30px" type='password' name="new_password1",autocomplete="password" required
                   id="id_new_password1"><br></br><span style="color:red">{{form.errors.new_password1}}</span>
                 <label for="id_new_password2">Confirm  Password</label><br></br>
            <input style="border-radius: 5px;width:15rem;height:30px" type='password' name="new_password2",autocomplete="password" required
                   id="id_new_password2" oninput="matchPassword()"><br></br><span  style="color:red">{{form.errors.new_password2}}</span>
            <button style="border-radius: 5px;width:15rem;height:30px;color:white;background:#1d4934;cursor:pointer;margin-top:10px" type="submit">
                Change Password</button>
            </div>
        </form>
        </div>
        </center>


    <script>

function myFunction() {
  var x = document.getElementById("id_new_password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function myFunction1() {
  var x = document.getElementById("id_new_password2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
    </div>
