{% load i18n %}{% autoescape off %}
{% blocktrans %}Hey, You're receiving this email because you requested a password reset for your user account at Graphic Language System.{% endblocktrans %}

{% trans "To Reset your password please click the link below:" %}
{% block reset_link %}
{{ protocol }}://{{ '172.16.1.201:8000' }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}


{% blocktrans %}This is an automated email from GLS. Please do not reply. {% endblocktrans %}

{% endautoescape %}