<!-- <h1>Built-In Login Logout</h1> -->

<style>
    .container {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background:white;
     padding:10px;
     border-radius:10px !important;
     text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
</style>
<div class="login-page" style="background:linear-gradient(#1d4934,  #b9b9b9);height:100vh;">
    <div  class="container">
        <h2>Reset Password</h2>
        <p>We have sended you reset password link on your email. Please Check Your Email.</p>
        <a href="http://172.16.1.201:3000/">Back to Login Page</a>
    </div>
</div>