<!--<h2>Reset Password</h2>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">submit</button>-->
<!--</form>-->
{% load static %}
<style>
    .w-100{
    margintop:50px;
    }
</style>
<div class="login-page" style="background:linear-gradient(#1d4934,  #b9b9b9);height:100vh;">
    <center>
        <div class="w-100" style="padding-bottom:10px;padding-top:50px">
        <div class="container">
            <div>
            <img src="{{ MEDIA_URL }}/media/logo/log.png" width='200' height='100' alt="Logo" />
            </div>
      <div>
        <h2 style="color:white">Graphics Language System</h2>
      </div>
      </div>

        </div>
        <div class="rest-form" style="background:white;width:25rem;border-radius: 30px;height:17rem;
                      padding-top:20px;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
        <form method="post">
            {% csrf_token %}
            <h3 >Reset Password</h3>
            <p >
            Enter the email address  associated with your Graphic Language System account.
            </p>
            <div class="email">
            <label for="id_email">Enter  Email</label><br></br>
            <input style="border-radius: 5px;width:15rem;height:30px" type='email' name="email",autocomplete="email" required
             id="id_email"><br></br>
            <button style="border-radius: 5px;width:15rem;height:30px;color:white;background:#1d4934;cursor:pointer;" type="submit">
                Send Password Reset Link</button>
            </div>
        </form>
        </div>
        </center>
    </div>
